.body {
  background-color: rgb(34, 36, 40);
  height: max-content;
  display: block;
  }

.form {
  background-color: rgb(51, 51, 51);
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display:flex;
  flex-direction:row;
  align-items:center;
  }

input {
  all: unset;
  font: 16px system-ui;
  color: white;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
  }

.placeholder-shown {
  color: white;
  opacity: 0.7; 
  }

.svg {
  color: white;
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
  }

.search-button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
  }

.site-title{
  color: rgb(51, 109, 51);
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  text-decoration: underline;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.basicsearchdes{
  font-size: 15px;
  text-decoration: none;
  color: rgb(51, 109, 51);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  }
      
.searchglass{
  width: 90%;
  }

.searchlinks{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-bottom: 10px;
  margin-top: 0px;
  }
      
.WTHIF{
  font-family: arial;
  color: rgb(51, 51, 209);
  margin-left: 8px;
  }
  .WTHIF:active{
    color: green;
    }
      
.footer{
  font-family: arial;
  position: fixed;  
  left: 0px;  
  bottom: 5px;  
  right: 0px;   
  width: 100%;  
  background-color: rgb(51, 51, 51);  
  color: white;  
  text-align: center;
  border: 40px;
  border-color: rgb(51, 51, 51);
  }
      
.footer-link{
  color: white;
  }
  .footer-link:active{
    color: rgb(105, 105, 209);
    }
      
.header{
  text-align: center;
  }